@import 'variables';
.btn {
	border-radius:2px;
	padding:20px;
	font-size:20px;
	border-width:1px;
	border-style:solid;
	display:inline-block !important;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
.btn-orange {
	background-color:$orange;
	border-color:$darker_orange;
	color:white;
}
.btn-orange-passive {
	background-color:white;
	color:$orange;
	border-color:$orange;
}
.btn-orange-passive:hover {
	background-color:$orange;
	border-color:$darker_orange;
	color:white;
}
.btn-orange:hover, .btn-orange:visited, .btn-orange:active {
	opacity:0.8;
	color:white;
}
