.btn {
  border-radius: 0px;
  padding: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  display: inline-block !important;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.btn.btn-big {
  padding: 20px 30px;
  font-size: 20px; }

.btn-orange {
  background-color: #f05f40;
  border-color: #E35739;
  color: white; }

.btn-orange-passive {
  background-color: white;
  color: #f05f40;
  border-color: #f05f40; }

.btn-orange-empty {
  background-color: transparent;
  color: #f05f40;
  border-color: #f05f40; }

.btn-orange-passive:hover {
  background-color: #f05f40;
  border-color: #E35739;
  color: white; }

.btn-orange-empty:hover {
  background-color: #f05f40;
  border-color: #E35739;
  color: white; }

.btn-orange:hover, .btn-orange:visited, .btn-orange:active {
  opacity: 0.8;
  color: white; }

.top10 {
  margin-top: 10px; }

.top20 {
  margin-top: 20px; }

.form-control {
  border-radius: 0px; }
